<div class="container text-center"><h1>Hatchback</h1>
    <div class="row">
      <div class="col" *ngFor="let c of car">
        <div class="card" style="width: 18rem;">
            <img src="{{c.img}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{c.model}}</h5>
              <h6>${{c.price}}</h6>
              <a routerLink= "/hatchback/car" [queryParams]="c" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
      </div>      
    </div>
  </div>

  <router-outlet></router-outlet>
